/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 8, ../sass/screen.scss */
#reset {
  background-color: #228B22;
  margin: auto;
}

/* line 13, ../sass/screen.scss */
#actions {
  display: none;
}

/* line 17, ../sass/screen.scss */
li {
  border: 1px solid black;
  list-style-type: disc;
}
/* line 21, ../sass/screen.scss */
li.win {
  list-style-image: url("/img/tick-sm.png");
}
/* line 24, ../sass/screen.scss */
li.win .winner {
  background-color: #C1FFC1;
}
/* line 29, ../sass/screen.scss */
li.lose {
  list-style-type: circle;
}
/* line 32, ../sass/screen.scss */
li.lose .winner {
  background-color: #8B0000;
  color: white;
}
/* line 38, ../sass/screen.scss */
li.tie {
  list-style: none;
}

/* line 43, ../sass/screen.scss */
.user {
  background-color: #EEF3E2;
}

/* line 47, ../sass/screen.scss */
.dealer {
  background-color: #FEF0C9;
}

/* line 51, ../sass/screen.scss */
#score {
  clear: both;
}

/* Playing card sprite (img/playingcards.png): http://imageshack.us/photo/my-images/245/playingcards.png/ */
/* line 56, ../sass/screen.scss */
.card {
  background: url("/img/playingcards.png") no-repeat;
  float: left;
  margin: 3px;
  height: 96px;
  width: 72px;
  background-position: -38px -11px;
}
/* line 78, ../sass/screen.scss */
.card.cardValue-1-1 {
  background-position-x: -38px;
  background-position-y: -11px;
}
/* line 78, ../sass/screen.scss */
.card.cardValue-1-2 {
  background-position-x: -111px;
  background-position-y: -11px;
}
/* line 78, ../sass/screen.scss */
.card.cardValue-1-3 {
  background-position-x: -184px;
  background-position-y: -11px;
}
/* line 78, ../sass/screen.scss */
.card.cardValue-1-4 {
  background-position-x: -257px;
  background-position-y: -11px;
}
/* line 78, ../sass/screen.scss */
.card.cardValue-1-5 {
  background-position-x: -330px;
  background-position-y: -11px;
}
/* line 78, ../sass/screen.scss */
.card.cardValue-1-6 {
  background-position-x: -403px;
  background-position-y: -11px;
}
/* line 78, ../sass/screen.scss */
.card.cardValue-1-7 {
  background-position-x: -476px;
  background-position-y: -11px;
}
/* line 78, ../sass/screen.scss */
.card.cardValue-1-8 {
  background-position-x: -549px;
  background-position-y: -11px;
}
/* line 78, ../sass/screen.scss */
.card.cardValue-1-9 {
  background-position-x: -622px;
  background-position-y: -11px;
}
/* line 78, ../sass/screen.scss */
.card.cardValue-1-10 {
  background-position-x: -695px;
  background-position-y: -11px;
}
/* line 78, ../sass/screen.scss */
.card.cardValue-1-11 {
  background-position-x: -768px;
  background-position-y: -11px;
}
/* line 78, ../sass/screen.scss */
.card.cardValue-1-12 {
  background-position-x: -841px;
  background-position-y: -11px;
}
/* line 78, ../sass/screen.scss */
.card.cardValue-1-13 {
  background-position-x: -914px;
  background-position-y: -11px;
}
/* line 78, ../sass/screen.scss */
.card.cardValue-2-1 {
  background-position-x: -38px;
  background-position-y: -115px;
}
/* line 78, ../sass/screen.scss */
.card.cardValue-2-2 {
  background-position-x: -111px;
  background-position-y: -115px;
}
/* line 78, ../sass/screen.scss */
.card.cardValue-2-3 {
  background-position-x: -184px;
  background-position-y: -115px;
}
/* line 78, ../sass/screen.scss */
.card.cardValue-2-4 {
  background-position-x: -257px;
  background-position-y: -115px;
}
/* line 78, ../sass/screen.scss */
.card.cardValue-2-5 {
  background-position-x: -330px;
  background-position-y: -115px;
}
/* line 78, ../sass/screen.scss */
.card.cardValue-2-6 {
  background-position-x: -403px;
  background-position-y: -115px;
}
/* line 78, ../sass/screen.scss */
.card.cardValue-2-7 {
  background-position-x: -476px;
  background-position-y: -115px;
}
/* line 78, ../sass/screen.scss */
.card.cardValue-2-8 {
  background-position-x: -549px;
  background-position-y: -115px;
}
/* line 78, ../sass/screen.scss */
.card.cardValue-2-9 {
  background-position-x: -622px;
  background-position-y: -115px;
}
/* line 78, ../sass/screen.scss */
.card.cardValue-2-10 {
  background-position-x: -695px;
  background-position-y: -115px;
}
/* line 78, ../sass/screen.scss */
.card.cardValue-2-11 {
  background-position-x: -768px;
  background-position-y: -115px;
}
/* line 78, ../sass/screen.scss */
.card.cardValue-2-12 {
  background-position-x: -841px;
  background-position-y: -115px;
}
/* line 78, ../sass/screen.scss */
.card.cardValue-2-13 {
  background-position-x: -914px;
  background-position-y: -115px;
}
/* line 78, ../sass/screen.scss */
.card.cardValue-3-1 {
  background-position-x: -38px;
  background-position-y: -219px;
}
/* line 78, ../sass/screen.scss */
.card.cardValue-3-2 {
  background-position-x: -111px;
  background-position-y: -219px;
}
/* line 78, ../sass/screen.scss */
.card.cardValue-3-3 {
  background-position-x: -184px;
  background-position-y: -219px;
}
/* line 78, ../sass/screen.scss */
.card.cardValue-3-4 {
  background-position-x: -257px;
  background-position-y: -219px;
}
/* line 78, ../sass/screen.scss */
.card.cardValue-3-5 {
  background-position-x: -330px;
  background-position-y: -219px;
}
/* line 78, ../sass/screen.scss */
.card.cardValue-3-6 {
  background-position-x: -403px;
  background-position-y: -219px;
}
/* line 78, ../sass/screen.scss */
.card.cardValue-3-7 {
  background-position-x: -476px;
  background-position-y: -219px;
}
/* line 78, ../sass/screen.scss */
.card.cardValue-3-8 {
  background-position-x: -549px;
  background-position-y: -219px;
}
/* line 78, ../sass/screen.scss */
.card.cardValue-3-9 {
  background-position-x: -622px;
  background-position-y: -219px;
}
/* line 78, ../sass/screen.scss */
.card.cardValue-3-10 {
  background-position-x: -695px;
  background-position-y: -219px;
}
/* line 78, ../sass/screen.scss */
.card.cardValue-3-11 {
  background-position-x: -768px;
  background-position-y: -219px;
}
/* line 78, ../sass/screen.scss */
.card.cardValue-3-12 {
  background-position-x: -841px;
  background-position-y: -219px;
}
/* line 78, ../sass/screen.scss */
.card.cardValue-3-13 {
  background-position-x: -914px;
  background-position-y: -219px;
}
/* line 78, ../sass/screen.scss */
.card.cardValue-4-1 {
  background-position-x: -38px;
  background-position-y: -323px;
}
/* line 78, ../sass/screen.scss */
.card.cardValue-4-2 {
  background-position-x: -111px;
  background-position-y: -323px;
}
/* line 78, ../sass/screen.scss */
.card.cardValue-4-3 {
  background-position-x: -184px;
  background-position-y: -323px;
}
/* line 78, ../sass/screen.scss */
.card.cardValue-4-4 {
  background-position-x: -257px;
  background-position-y: -323px;
}
/* line 78, ../sass/screen.scss */
.card.cardValue-4-5 {
  background-position-x: -330px;
  background-position-y: -323px;
}
/* line 78, ../sass/screen.scss */
.card.cardValue-4-6 {
  background-position-x: -403px;
  background-position-y: -323px;
}
/* line 78, ../sass/screen.scss */
.card.cardValue-4-7 {
  background-position-x: -476px;
  background-position-y: -323px;
}
/* line 78, ../sass/screen.scss */
.card.cardValue-4-8 {
  background-position-x: -549px;
  background-position-y: -323px;
}
/* line 78, ../sass/screen.scss */
.card.cardValue-4-9 {
  background-position-x: -622px;
  background-position-y: -323px;
}
/* line 78, ../sass/screen.scss */
.card.cardValue-4-10 {
  background-position-x: -695px;
  background-position-y: -323px;
}
/* line 78, ../sass/screen.scss */
.card.cardValue-4-11 {
  background-position-x: -768px;
  background-position-y: -323px;
}
/* line 78, ../sass/screen.scss */
.card.cardValue-4-12 {
  background-position-x: -841px;
  background-position-y: -323px;
}
/* line 78, ../sass/screen.scss */
.card.cardValue-4-13 {
  background-position-x: -914px;
  background-position-y: -323px;
}
